html {
  /* Baggrundsfarve */
  --color-bg: #fef9f3;

  /* Tekst og overskrifter */
  --color-text: #535353;
  --color-headline: #4853ad;
  --color-name: #d3dbff;

  /* Farver */
  --color-cta: #4853ad;
  --color-border: #4853ad;
  --color-cta: #d3dbff;
  --color-cta-inverted: #4853ad;
}
@media (width>800px) {
  /* Fonts + størrelser Desktop */
  .hero_h {
    font-family: "Poppins ExtraBold";
    font-size: 6rem;
    color: var(--color-headline);
  }
  .hero_name {
    font-family: "Lora";
    font-size: 2.25rem;
    color: var(--color-name);
  }
  h1 {
    font-family: "Poppins Bold";
    font-size: 2.875rem;
    color: var(--color-headline);
  }
  h2 {
    font-family: "Poppins SemiBold";
    font-size: 2.5rem;
    color: var(--color-headline);
  }
  h3 {
    font-family: "Poppins Medium";
    font-size: 2.25rem;
    color: var(--color-headline);
  }
  h4 {
    font-family: "Poppins Regular";
    font-size: 1.875rem;
    color: var(--color-headline);
  }
  p {
    font-family: "WorkSans";
    font-size: 1.125rem;
    color: var(--color-text);
  }
  .cta_btn {
    font-family: "Poppins SemiBold";
    font-size: 1.0625rem;
    color: var(--color-cta);
  }
}

@media (max-width: 800px) {
  /* Fonts og størrelser mobile  */
  .hero_h {
    font-family: "Poppins ExtraBold";
    font-size: 2.5rem;
    color: var(--color-headline);
  }
  .hero_name {
    font-family: "Lora";
    font-size: 1rem;
    color: var(--color-name);
  }
  h1 {
    font-family: "Poppins Bold";
    font-size: 2.25rem;
    color: var(--color-headline);
    padding-top: 1em;
  }
  h2 {
    font-family: "Poppins SemiBold";
    font-size: 1.75rem;
    color: var(--color-headline);
  }
  h3 {
    font-family: "Poppins Medium";
    font-size: 1.5rem;
    color: var(--color-headline);
  }
  h4 {
    font-family: "Poppins Regular";
    font-size: 1.25rem;
    color: var(--color-headline);
  }
  p {
    font-family: "WorkSans";
    font-size: 0.875rem;
    color: var(--color-text);
  }
  .cta_btn {
    font-family: "Poppins SemiBold";
    font-size: 0.8125rem;
    color: var(--color-cta);
  }
}
