html {
  @media (width>800px) {
    /* Fonts + størrelser Desktop */
    .hero_h {
      font-family: "Poppins ExtraBold";
      font-size: 6rem;
    }
    .hero_name {
      font-family: "Lora";
      font-size: 2.25rem;
    }
    h1 {
      font-family: "Poppins Bold";
      font-size: 2.875rem;
    }
    h2 {
      font-family: "Poppins SemiBold";
      font-size: 2.5rem;
    }
    h3 {
      font-family: "Poppins Medium";
      font-size: 2.25rem;
    }
    h4 {
      font-family: "Poppins Regular";
      font-size: 1.875rem;
    }
    p {
      font-family: "WorkSans";
      font-size: 1.125rem;
    }
    .cta_btn {
      font-family: "Poppins SemiBold";
      font-size: 1.0625rem;
    }
  }

  @media (max-width: 800px) {
    /* Fonts og størrelser mobile  */
    .hero_h {
      font-family: "Poppins ExtraBold";
      font-size: 2.5rem;
    }
    .hero_name {
      font-family: "Lora";
      font-size: 1rem;
    }
    h1 {
      font-family: "Poppins Bold";
      font-size: 2.25rem;
    }
    h2 {
      font-family: "Poppins SemiBold";
      font-size: 1.75rem;
    }
    h3 {
      font-family: "Poppins Medium";
      font-size: 1.5rem;
    }
    h4 {
      font-family: "Poppins Regular";
      font-size: 1.25rem;
    }
    p {
      font-family: "WorkSans";
      font-size: 0.875rem;
    }
    .cta_btn {
      font-family: "Poppins SemiBold";
      font-size: 0.8125rem;
    }
  }

  /* Baggrundsfarve */
  --color-bg: #fef9f3;

  /* Tekst og overskrifter */
  --color-text: #535353;
  --color-headline: #4853ad;
}
