body {
  margin: 1.5em;
  background-color: var(--color-bg);
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid var(--color-border);
  padding-top: 1em;
  margin-top: 2em;
  .footer_links {
    display: flex;
    column-gap: 0.5em;
  }
}
