/* Forside */
.hero_section {
  margin: 0;
  border-bottom: 0;
  img {
    width: 100%;
  }
}
@media (min-width: 500px) and (max-width: 900px) {
  .sectiongrid1_1 {
    padding: 4em;
    .card {
      h2 {
        font-size: 2rem;
        margin: 0;
        text-align: center;
      }
    }
  }
}
@media (max-width: 500px) {
  .sectiongrid1_1 {
    padding: 4em;
    .card {
      h2 {
        margin: 0;
        text-align: center;
      }
    }
  }
}
@media (width>900px) {
  .sectiongrid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    .card {
      h2 {
        margin: 1;
      }
      img {
        margin-bottom: 1em;
      }
    }
  }
}
@media (max-width: 700px) {
  .hero_h {
    position: absolute;
    right: 38%;
    bottom: 60%;
    padding: 2.5rem;
    transform: translate(50%, 50%);
  }
  .hero_name {
    position: absolute;
    right: 35%;
    bottom: 58%;
    padding: 2.5rem;
    transform: translate(50%, 50%);
    text-align: center;
  }
}
@media (width>700px) {
  .hero_h {
    position: absolute;
    right: 15%;
    bottom: 33%;
    padding: 2.5rem;
  }
  .hero_name {
    position: absolute;
    right: 22%;
    bottom: 41%;
  }
  .sectiongrid1_1 {
    margin-top: 3em;
  }
}

/* Om mig */
@media (width>700px) {
  .ommig {
    display: grid;
    justify-content: center;
    padding: 0 4em;
    p {
      grid-row: 2;
      margin: 2em 4em;
    }
  }
  #ommig {
    margin: 0 3em;
    width: 50%;
    place-self: center;
  }
}

/* Mine projekter */
@media (max-width: 700px) {
  .projekt_btn {
    min-width: 150px;
    padding: 1em 0.5em;
    margin: 1.5em 0;
    h2 {
      font-size: 1rem;
    }
  }
}
@media (width>700px) {
  .projekter {
    padding: 2em 30px;
    place-self: center;
  }
  .projekt_btn {
    min-width: 400px;
    max-width: 700px;
    padding: 1em 0.5em;
    margin: 2em;
    h2 {
      font-size: 1.5rem;
    }
  }
}

/* Projekter */
@media (max-width: 700px) {
  a.scroll_btn {
    font-size: 0.8125rem;
    padding: 0.5em 1em;
  }
  a.cta_btn {
    font-size: 0.8125rem;
    padding: 0.5em 1em;
    margin-bottom: 1em;
  }
}
@media (width>700px) {
  a.scroll_btn {
    font-size: 1.0625rem;
    padding: 0.8em 0.5em;
  }
  a.cta_btn {
    font-size: 1.0625rem;
    padding: 0.8em 1em;
    margin-bottom: 1em;
    margin-right: 4em;
  }
  .sectiongrid2_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4em;
    margin-top: 1em;
    img {
      padding-top: 3em;
      width: 100%;
    }
  }
  .intro {
    margin-bottom: 2em;
  }
}
